bg-color(base-color, darken) 
    background-color base-color
    &:hover 
        background-color darken(base-color, darken)
    &:active 
        background-color darken(base-color, darken * 2)

button, .button 
    bg-color(darken(light-color, 10%), 10%)
    display inline-block
    border none
    border-radius border-radius
    color dark-text-color
    cursor pointer
    padding 3px 10px
    margin 0px 5px
    user-select none

    &.primary 
        color light-text-color;
        bg-color(primary-color, 15%)

    &.danger 
        color light-text-color;
        bg-color(danger-color, 15%)