bg-color(base-color, darken) 
    background-color base-color
    &:hover 
        background-color darken(base-color, darken)

.menu-bar 
    display block
    background-color darken(light-color, 5%)

left-spacing = 10px

.menu-item
    bg-color(darken(light-color, 5%), 10%)
    white-space nowrap
    display inline-block
    padding 0px left-spacing
    box-sizing border-box
    cursor pointer
    position relative

    .submenu
        position absolute
        left 0px
        border-radius border-radius
        box-shadow: shadow-1
        z-index 1

    .submenu>.menu-item 
        display none

    &:hover>.submenu>.menu-item
        display block
