
.vsplit 
    width 100%
    height 100%
    display flex
    flex-direction row

    &>.vsplit-pane 

        &.vsplit-left 
            background-color darkseagreen

        &.vsplit-right 
            background-color darkgoldenrod



.hsplit 
    width 100%
    height 100%
    display flex
    flex-direction column

    &>.hsplit-pane 

        &.hsplit-top 
            background-color yellow

        &.hsplit-bottom 
            background-color aqua