splitter-color = darken(light-color, 3)
splitter-color-hover = darken(light-color, 10)

group-border-color = darken(light-color, 8)
group-header-color = darken(light-color, 20)

overlay()
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    background-color transparent


.tab-area 
    width 100%
    height 100%

    .splitter
        background-color surface-color
        border none
        user-select none

        &:hover, &.dragging
            background-color surface-hover-color

    .split 
        width 100%
        height 100%
        display flex

        &.vertical
            flex-direction row

            &>.splitter 
                width 5px
                cursor ew-resize

        &.horizontal
            flex-direction column

            &>.splitter 
                height 5px
                cursor ns-resize

    .split-drag-overlay
        overlay()

        // Maintains the dragging mouse cursor when the pointer
        // goes slightly off the splitter element during dragging
        &.vertical
            cursor ew-resize

        &.horizontal
            cursor ns-resize

    .group 
        width 100%
        height 100%
        background-color inset-color
        border 1px solid surface-border-color
        display flex
        flex-direction column

        &>.group-header
            display flex
            flex-direction row
            border-bottom 1px solid surface-border-color
            position relative

            &>.drag-mouseout-overlay 
                position absolute
                width 100%
                height 100%
                background-color red
                opacity 0.2

            &>.tab-drop-target
                width 3px
                background-color primary-color
                align-items stretch
                display flex 
                margin 0 -1px 0 -2px
                z-index 1
                //position relative

        &>.tab-content
            position relative
            height 100%

            &>.body-drop-overlay 
                position absolute
                width 100%
                height 100%
                background-color green
                opacity 0.2
                z-index 1

                &>.body-drop-target
                    position relative
                    height 100%
                    width 100%
                    opacity: 0.1
                    background-color black
                    pointer-events none

                    &.in-group
                        //

                    &.split-left
                        width 50%

                    &.split-right
                        width 50%
                        left 50%

                    &.split-up
                        height 50%

                    &.split-down
                        height 50%
                        top 50%


            &>.active-content
                width 100%
                height 100%
                background-color insert-color
            
            &>.no-active-tab 
                width 100%
                height 100%
                text-align center
                color medium-text-color
                font-weight bold
                display grid
                align-items center


.tab-header
    background-color inset-color
    cursor pointer
    

    .mouse-target
        align-self flex-end
        position absolute
        margin 0
        width 100%
        height 20px 
        opacity 0.2

/*
        &.left
            background-color magenta
            left 0px

        &.right
            background-color orange
            right 0px
            */

    &>.inner 
        width min-content
        border-right 1px solid surface-border-color
        padding 7px 10px
        display flex
        flex-direction row
        flex-wrap nowrap
        position relative

        &.active-in-group 
            background-color surface-color
            border-top 1px solid primary-color

            &>.tab-close
                visibility visible

        &:hover>.tab-close
            visibility visible

        &>.tab-icon
            user-select none
            margin auto 5px auto 0
            font-weight bold
            color primary-color
            pointer-events none
            //

        &>.tab-title
            user-select none
            text-wrap nowrap
            text-overflow ellipsis
            pointer-events none
            //

        &>.tab-close
            btn-size = 16px
            user-select none
            margin auto 0 auto 7px
            font-weight bold
            color medium-text-color
            font-size 0.8em
            line-height btn-size
            width btn-size
            height btn-size
            text-align center
            border-radius border-radius
            cursor pointer
            visibility hidden

            &:hover 
                background-color surface-hover-color

        &>.tab-drag-overlay
            overlay()
            background-color blue 
            opacity 0.05
            cursor grabbing 

            &>.tab-header
                cursor grabbing 
