splitter-color = darken(light-color, 3)
splitter-color-hover = darken(light-color, 10)
splitter-border-color = darken(light-color, 8)

.splitter
    background-color splitter-color
    border-color splitter-border-color
    border-style solid
    user-select none

    &:hover, &.dragging
        background-color splitter-color-hover


.split 
    width 100%
    height 100%
    display flex

    &.vertical
        flex-direction row

        &>.splitter 
            width 5px
            cursor ew-resize
            border-width 0 1px

    &.horizontal
        flex-direction column

        &>.splitter 
            height 5px
            cursor ns-resize
            border-width 1px 0 


    &>.split-pane 

        &.split-left 
            //

        &.split-right 
            //



/*
.hsplit 
    width 100%
    height 100%
    display flex
    flex-direction column

    &>.splitter 
        height 5px
        cursor ns-resize
        border-width 1px 0

    &>.hsplit-pane 

        &.hsplit-top 
            //

        &.hsplit-bottom 
            //
*/

// Maintains the dragging mouse cursor when the pointer
// goes slightly off the splitter element during dragging
.overlay 
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    opacity 0

    &.vsplit-cursor 
        cursor ew-resize