

primary-color = #007bff;
secondary-color = #6c757d;
success-color = #28a745;
danger-color = #dc3545;
warning-color = #ffc107;
info-color = #17a2b8;
light-color = #ffffff;
dark-color = #343a40;

light-text-color = #f8f8f8;
dark-text-color = #222222;

border-radius = 2px
shadow-1 = 1px 1px 5px rgba(0, 0, 0, 0.2)



body {
    font-family: 'Arial';
    font-size: 14px;
    background-color: light-color;
}