.welcome 
    width 100%
    height 100%
    display flex 
    justify-content center
    align-items center

    .content 
        display flex 
        flex-direction column

        .title-container
            display flex 
            flex-direction row

            .logo 
                font-size 72px
                line-height 108px
                margin-top -13px
                margin-right 10px
                color primary-color

            .text 

                .title 
                    font-size 36px
                    color dark-text-color
                
                .subtitle 
                    font-size 24px
                    color medium-text-color

        .quickstart
            margin-top 20px

            .title 
                color medium-text-color
                font-size 20px

            .action
                margin-top 10px
                cursor pointer

